---
import '../../styles/Productos.css';

const catalogo = 'https://compipro.net/documentos/catalogo-compipro/Catalogo_Compipro.pdf'

const products = [
  {
    name: "Artículos Importados",
    price: "$599",
    image: "/images/tecnologico.webp",
    alt: "Artículos Importados"
  },
  {
    name: "Artículos Corporativos",
    price: "$1,449",
    image: "/images/regalosCorporativos.webp",
    alt: "Artículos Corporativos"
  },
  {
    name: "Artículos Ecológicos",
    price: "$739",
    image: "/images/ecologico.webp",
    alt: "Artículos Ecológicos"
  },
  {
    name: "Artículos de Imprenta",
    price: "$186",
    image: "/images/papeleria.webp",
    alt: "Artículos de Imprenta"
  },
  {
    name: "Artículos Textil",
    price: "$98",
    image: "/images/textileria.webp",
    alt: "Artículos Textil"
  },
  {
    name: "Tazas Publicitarias",
    price: "$739",
    image: "/images/tazas-publicitarias.webp",
    alt: "Tazas Publicitarias"
  }
];
---

<div class="container my-5">
  <h2 class="text-center titulo">NUESTROS PRODUCTOS</h2>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-4">
    {products.map((product) => (
      <div class="col">
        <div class="card text-center">
          <img src={product.image} alt={product.alt} />
          <div class="card-body">
            <h5 class="card-title">{product.name}</h5>
            <p class="fw-bold">{product.price}</p>
          </div>
        </div>
      </div>
    ))}
  </div>
  <div class="text-center mt-4">
    <a href={catalogo} target="_blank" class="btn btn-custom">Ver más artículos +</a>
  </div>
</div>