---
import '../styles/CardsProductos.css'

const image = 'https://s3-alpha-sig.figma.com/img/927c/f88e/91c79c85e85a6b9cd92b0d1b36ec9fd5?Expires=1742169600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=YEUfY3UAh3k0Ivh9Tkd5D187oYTFYfiuYPuWP2H2eC7idyQzhZLxiePejtODsudS0fH-dk9Fq83658Te5FrGzrInbURjLOUJFevu4cK7ERFouIDsailDNNcoECS7LTww9if6hV4fv1AHViqpATTJvx5QAu0iV4IXgXbW2wTJva31kq8aGgraNQDoi9vq0sUwxdjMDTlsPrlT2Dr5POQQAW3Ks8aLDRCqVXCGfLjTgbmgub1o5oqeH~ROu8XzyjVtp3MbINSXjnlslLbz7wGxTuGiaVsu3FQCzCShKLG9i~h3AtiPNaBqRgUw~oXJ21wqXbU7RaInoBZIGzCdWWuCAA__'
---

<section class="product-grid">
    <div class="product-cards">
        <div class="product-card">
            <img src={image} alt="Producto 1">
            <h3>Altavoz Bambú</h3>
            <p>Altavoz portátil ecológico con diseño moderno.</p>
            <button class="quote-button">Cotizar</button>
        </div>
        <div class="product-card">
            <img src={image} alt="Producto 2">
            <h3>Power Bank</h3>
            <p>Batería externa de alta capacidad para dispositivos.</p>
            <button class="quote-button">Cotizar</button>
        </div>
        <div class="product-card">
            <img src={image} alt="Producto 3">
            <h3>Set de Escritorio</h3>
            <p>Conjunto de portabolígrafos y organizador de escritorio.</p>
            <button class="quote-button">Cotizar</button>
        </div>
    </div>
    <div class="product-cards">
        <div class="product-card">
            <img src={image} alt="Producto 1">
            <h3>Altavoz Bambú</h3>
            <p>Altavoz portátil ecológico con diseño moderno.</p>
            <button class="quote-button">Cotizar</button>
        </div>
        <div class="product-card">
            <img src={image} alt="Producto 2">
            <h3>Power Bank</h3>
            <p>Batería externa de alta capacidad para dispositivos.</p>
            <button class="quote-button">Cotizar</button>
        </div>
        <div class="product-card">
            <img src={image} alt="Producto 3">
            <h3>Set de Escritorio</h3>
            <p>Conjunto de portabolígrafos y organizador de escritorio.</p>
            <button class="quote-button">Cotizar</button>
        </div>
    </div>
</section>